* {
  margin: 0;
  padding: 0;
}

:root {
  /* --primary-color: #051f0d;
  --secondary-color: #eb7f73; */
  /* --accent-color: #f9faf2; */
  /* --accent-color: #f6e9d6; */

  --background-color: #f6e9d6;
  --primary-color: #fdfdfd;
  --secondary-color: #302414;
  --accent-color: #7e4b0c;
  --shadow-color: #918672;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--background-color);
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--accent-color);
  color: white;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

.brand-name {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
