@font-face {
  font-family: "Overpass";
  src: url("assets/fonts/Overpass-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Arimo";
  src: url("assets/fonts/Arimo-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("assets/fonts/PTSansNarrow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url("assets/fonts/PTSansNarrow-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* --primary-color: #051f0d;
  --secondary-color: #eb7f73; */
  /* --accent-color: #f9faf2; */
  /* --accent-color: #f6e9d6; */

  --background-color: #f6e9d6;
  --primary-color: #fdfdfd;
  --secondary-color: #302414;
  --accent-color: #7e4b0c;
  --shadow-color: #918672;

  --title-font: "PT Sans Narrow Bold", sans-serif;
  --heading-font: "Arimo", sans-serif;
  --body-font: "Overpass", sans-serif;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--background-color);
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--accent-color);
  color: white;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

.brand-name {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
