.listing {
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: -10px 20px 25px var(--shadow-color);
  height: 100%;
}
.listing-heading {
  color: var(--secondary-color);
  font-family: var(--heading-font);
  padding: 1rem;
  text-align: center;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
