<article>
  <img
    class="listing-photo"
    [src]="boidLocation?.photo"
    alt="Exterior photo of {{ boidLocation?.name }}"
    crossorigin
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{ boidLocation?.name }}</h2>
    <p class="listing-location">
      {{ boidLocation?.city }}, {{ boidLocation?.state }}
    </p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this boid location</h2>
    <ul>
      <li>Units available: {{ boidLocation?.availableUnits }}</li>
      <li>Does this location have wifi: {{ boidLocation?.wifi }}</li>
      <li>Does this location have laundry: {{ boidLocation?.laundry }}</li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Report a new sighting</h2>
    <form [formGroup]="applyForm" (submit)="submitSighting()">
      <label for="city-name">City Name</label>
      <input id="city-name" type="text" formControlName="cityName" />
      <label for="state-name">State Name</label>
      <input id="state-name" type="text" formControlName="stateName" />
      <button type="submit" class="primary">Apply now</button>
    </form>
  </section>
</article>
