.listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  max-width: 80%;
  margin: 0 auto;
}

.listing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-heading {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.listing-photo {
  max-width: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

.listing-location {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.section-heading {
  color: var(--secondary-color);
  font-size: 2rem;
  margin-bottom: 15px;
}

.listing-features li {
  margin-bottom: 0.5rem;
}

li {
  list-style-type: none;
}

table.ebird-details {
  border-collapse: collapse;
  margin: 1rem 0;
}

table.ebird-details th {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
}

table.ebird-details td {
  padding: 1rem;
  border-bottom: solid 0.3px;
  text-align: center;
}

label,
input {
  display: block;
}

label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
}

input {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  padding: 1rem;
  max-width: 300px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 0.3px;
}

@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 400px;
  }
}
